extends ../templates/main
block variables
    - var title = "Главная"
block content
    h1 Lorem ipsum dolor sit amet.
    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Это деревни встретил жизни рыбными маленький дорогу живет залетают предложения.
block append js